ErrorDocument 404 /404.html
RewriteEngine On
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{assets/images/kasya.png-122x118.png} !=/favicon.ico

