ErrorDocument 404 /404.html
RewriteEngine On
RewriteCond %{HTTPS} !=on RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1
server {#...
    if($host~ * ^ [ ^ .] + \.[ ^ .] + $) {
        rewrite ^ (.*) $ $scheme: //www.$host$1 permanent;
    }#...
}
