RewriteEngine On
RewriteBase /
ErrorDocument 403 /server.html
ErrorDocument 404 /404.html
#Черный список пользователей
<Limit GET POST PUT>
order allow,deny
allow from all
deny from 89.113.136.248
</LIMIT>
