<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.kasyateam.webapp" version="1.0.0.0">
	<name>Kasya</name>
	<description>Kasya App for you</description>
	<author email="alexsandr.kaurcev@gmail.com">Alexsandr Kaurcev</author>
	<preference name="permissions" value="none"/>
	<preference name="android-targetSdkVersion" value="21" />
	<feature name="http://api.phonegap.com/1.0/network"/>
	<preference name="orientation" value="landscape" />
	<preference name="fullscreen" value="true" />
	<gap:config-file platform="ios" parent="UIStatusBarHidden"><true/></gap:config-file>
	<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance"><false/></gap:config-file>
	<plugin name="cordova-plugin-crosswalk-webview" source="npm" />
	<plugin name="cordova-plugin-whitelist" source="npm" />
	<access origin="*" />
	<plugin name="cordova-plugin-inappbrowser" source="npm" />
</widget>
